.slide {
  margin: 120px;
  min-height: 400px;
  position: relative;
}
#slideImage__container {
  position: relative;
}
.slideImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 300px;
  opacity: 0;
  z-index: 0;
}
.slideImage.active {
  opacity: 1;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#js-arrow__prev {
  position: absolute;
  display: block;
  right: 200px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #000000;
  opacity: 0;
}
#js-arrow__next {
  position: absolute;
  display: block;
  left: 200px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #000000;
  opacity: 0;
}
#js-arrow__prev.active,
#js-arrow__next.active {
  opacity: 1;
}
#js-arrow__prev,
#js-arrow__next:hover {
  cursor: pointer;
}
#js-arrow__prev.disabled,
#js-arrow__next.disabled {
  opacity: 0.6;
  pointer-events: none;
}

#js-pagination {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}