body {
  margin: 0;
  padding: 0;
}

#js-modal-btn {
  margin: 20px;
}

#js-req-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  height: 0;
  pointer-events: none;
  transition: all 0.5s;
}

#js-req-btn.active {
  opacity: 1;
  height: auto;
  pointer-events: all;
  z-index: 1;
}

#js-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(0,0,0,0.3 );
  z-index: -1;
  pointer-events: none;
}
#js-mask.active {
  z-index: 0;
  opacity: 1;
  pointer-events: all;
}