body {
  margin: 0;
  padding: 0;
}

#js-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  margin: 0 auto;
  background-color: #fafafa;
  padding: 20px 40px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
}
#js-form.active {
  opacity: 1;
  pointer-events: all;
}

#js-form > p {
  text-align: center;
  font-size: 18px;
  margin: 0 0 30px 0;
}

#js-modal-btn {
  margin: 20px;
  cursor: pointer;
}

#js-submit {
  opacity: 0;
  height: 0;
  pointer-events: none;
  transition: all 0.5s;
  display: block;
  width: 200px;
  margin: 20px auto;
  cursor: pointer;
}

#js-submit.active {
  opacity: 1;
  height: auto;
  pointer-events: all;
  z-index: 1;
}

.form-id,
.form-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#js-input-num,
#js-input-name {
  z-index: 2;
  width: 200px;
  height: 32px;
  opacity: 0;
  pointer-events: none;
  margin-bottom: 10px;
  transition: all 0.5s;
}
#js-input-num.active,
#js-input-name {
  opacity: 1;
  pointer-events: all;
}

#js-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(0,0,0,0.3 );
  z-index: -1;
  pointer-events: none;
}
#js-mask.active {
  z-index: 0;
  opacity: 1;
  pointer-events: all;
}